body {
    font-family: Monstserrat, serif;
    font-size: larger;
    background: #00bf50;
    background: linear-gradient(231deg,rgb(0, 206, 0) 0%, rgb(0, 114, 48) 35%, rgba(0, 71, 2, 1) 50%, rgba(0, 0, 0, 1) 91%);
}

.glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 12px;
    height: 30rem;
    width: 40rem;
}

.glass-buttons {
    background: rgba(255, 255, 255, 0.034);
    border-radius: 1rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.08);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1.5px solid rgba(172, 172, 172, 1);
}

.inttologo {
    width: 10rem;
    height: fit-content;
}

.gradient-border {
    border: 2px solid transparent;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image:
        linear-gradient(120deg, #101318 0%, #01702f 120%),
        linear-gradient(120deg, #101318 0%, #01702f 120%);
}

.custom-gradient-border {
    border: 3px solid;
}